@if (Product is not null)
{
    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Name</label>
            <p class="form-control-plaintext">@Product.Name</p>
        </div>
        <div class="col-md-6">
            <label class="form-label">SKU</label>
            <p class="form-control-plaintext">@Product.Sku</p>
        </div>
        <div class="col-12">
            <label class="form-label">Description</label>
            <p class="form-control-plaintext">@Product.Description</p>
        </div>
        <div class="col-md-4">
            <label class="form-label">Price</label>
            <p class="form-control-plaintext">@Product.Price.ToString("C")</p>
        </div>
    </div>
}

@code {
    [Parameter]
    public ProductResponse? Product { get; set; }
}
